body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 40px;
  margin-bottom: 44px;
  line-height: 1.15;
}

h3 {
  text-transform: uppercase;
  font-size: 18px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

img {
  width: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, button:active, button.black-btn:active {
  width: 328px;
  height: 65px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  background-image: linear-gradient(to left, #00ffff, #fe86aa);
}

button:hover, button.black-btn:hover {
  background: #ffffff;
  color: #000000;
}

button.black-btn {
  border: 2px solid;
  border-image-source: linear-gradient(to right, #fe86aa 7%, #ffffff);
  background-color: #000000;
  background-image: none;
  color: #ffffff;
  border-image-slice: 1;
}

.wrapper {
  margin: 0 auto;
  padding: 0 147px 0 208px;
  position: relative;
}

.gradient-text {
  text-transform: uppercase;
  background: linear-gradient(to right, #fe86aa, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}

body {
  position: relative;
}

#home-page {
  background: url("../img/img-bg.png") 0 0 no-repeat;
  background-size: 100%;
}

#home-page header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 0.32px;
}

#home-page header .logo {
  width: 166px;
  height: 44px;
}

.contact-phone,#home-page header nav {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-page header .contact-phone{
  width: 280px;
}
#home-page header nav{
  width: 35%;
}
#home-page header nav a:hover{
  background: linear-gradient(to right, #fe86aa, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
}
#home-page header .contact-phone img {
  width: 25px;
  height: 25px;
}

#home-page header .mobile-navigation {
  display: none;
}
#home-page .name-page {
  padding: 134px 0 50px 25%;
  text-align: left;
  position: relative;
}

#home-page .name-page * {
  font-size: 82px;
  line-height: 0.98;
}

#home-page .name-page span {
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

#home-page .name-page h1 {
  letter-spacing: 1.6px;
}

#home-page .img-geometry {
  position: absolute;
}

#home-page .img-geometry.geometry-first {
  left: -5%;
  width: 590px;
}

#home-page .img-geometry.geometry-second {
  left: -2%;
  width: 344px;
  bottom: -7%;
}

#home-page .send-request {
  margin-left: 50%;
  margin-bottom: 150px;
  width: 368px;
  letter-spacing: 0.4px;
}

#home-page .info-block {
  display: flex;
  margin-left: 15%;
  padding-bottom: 150px;
}

#home-page .info-block article {
  width: 50%;
}

#home-page .info-block article p {
  line-height: 1.69;
  letter-spacing: 0.3px;
  color: #c6c6c6;
}

#home-page .info-block article:first-child h2 {
  width: 322px;
}

#home-page .info-block article:first-child p {
  width: 361px;
}

#home-page .info-block article:last-child h2 {
  width: 209px;
}

#home-page .info-block article:last-child p {
  width: 342px;
}

#modal-block {
  padding: 50px 0;
  display: none;
  position: absolute;
  z-index: 999;
  width: 70%;
  background: #dce9ff;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.modal-body h3 {
  width: 100%;
  text-align: center;
}

button#close-modal {
  width: 50px;
  margin-left: 150px;
  background: transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.modal-body form input, .modal-body form label {
  width: 100%;
  height: 65px;
  margin-bottom: 12px;
}

.modal-body form input {
  padding: 12px;
}

.modal-body form button {
  opacity: 0.6;
}

.active {
  display: block !important;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

#second-page {
  background-image: linear-gradient(to right, #fe86aa, #00d7df 100%);
}

#second-page .wrapper {
  padding: 60px 0 92px;
}

#second-page .img-astronaut {
  position: absolute;
  width: 60%;
  right: 0;
  top: -90px;
}

#second-page .content-page {
  margin-left: 15%;

}

#second-page .content-page ul {
  width: 285px;
  line-height: 1.56;
  letter-spacing: 0.3px;
  margin-bottom: 60px;
}
#second-page .content-page ul li{
  margin-bottom: 24px;
}
#second-page form {
  position: relative;
}

#second-page form input {
  width: 459px;
  height: 65px;
  border: solid 2px #ffffff;
  background-color: #f5f5f5;
  padding: 22px 10px;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.4px;
  color: #767676;
}

#second-page form label {
  margin-right: 50px;
}

#third-page .wrapper {
  padding: 60px 171px 100px 168px;
  display: flex;
  flex-direction: column;
}

#third-page .wrapper h2 {
  text-align: center;
}

#third-page .wrapper .container-page {
  display: flex;
  justify-content: space-between;
}

#third-page .wrapper .container-page .block {
  overflow: hidden;
}

#third-page .wrapper .container-page .block img {
  float: left;
  margin-right: 30px;
}

#third-page .wrapper .container-page .block span {
  padding: 10px 0 15px 0;
  display: inline-block;
  width: 205px;
  line-height: 1.56;
  letter-spacing: 0.3px;
}

.slider-container {
  display: none;
  width: 40%;
  margin: 0 auto;
}

.slick-prev, .slick-next {
  text-indent: -999999999em;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20%;
  bottom: 50%;
  margin: auto;
  cursor: pointer;
  z-index: 100;
  background-image: none;
  width: 100px;
  padding: 0;
}

.slick-initialized .slick-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.slick-initialized .slick-slide img {
  margin: 12px;
}

.slick-prev {
  left: -110px;
}

.slick-next:before, .slick-prev::before {
  content: none;
}

.slick-prev::after {
  content: url("../img/iconfinder-icon (2).svg");
}

.slick-next {
  right: -110px;
}

.slick-next::after {
  content: url("../img/iconfinder-icon (1).svg");
}

.slick-next::after, .slick-prev::after {
  display: block;
  text-indent: 0;
}

.slick-prev:active, .slick-next:active {
  width: 100px;
  padding: 0;
  height: 20px;
}

.slick-prev:hover, .slick-next:hover, .slick-prev:active, .slick-next:active {
  color: transparent;
  outline: none;
  background: transparent;
  opacity: 0.4;
}

#fourth-page {
  background-image: linear-gradient(to left, #fe86aa, #00d7df 100%);
}

#fourth-page .wrapper {
  padding: 0 75px;
  background: url("../img/Plus-1-Dog@3x.png") 10% center no-repeat;
  background-size: 320px;
  text-align: center;
}

#fourth-page .plus-container {
  margin: 0 auto;
  padding: 76px 0 93px 0;
  width: 30%;
  line-height: 1.69;
  letter-spacing: 0.3px;
}

#fourth-page .plus-container span {
  text-transform: uppercase;

}

#form-page {
  background: url("../img/img-light(2)@3x.png") 30% 15% no-repeat;
  background-size: 222px;
}

#form-page .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 208px 120px 245px;
  align-items: center;
  background: url("../img/Telescope Vector@3x.png") 5% 100% no-repeat;
  background-size: 197px 207px;
}

#form-page h2 {
  width: 310px;
}

#form-page form {
  width: 566px;
  min-height: 663px;
  border-radius: 12px;
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px #573c78;
  background-color: #141b37;
  padding: 75px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-page form h3 {
  margin-bottom: 35px;
  font-size: 28px;
  line-height: 1.79;
  letter-spacing: 0.3px;
  color: #ffffff;
}

#form-page form label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 6px;

}

#form-page form input:not([type="radio"]) {
  margin-bottom: 24px;
  padding-left: 24px;
  height: 50px;
}

#form-page form input.width100, #form-page form button {
  width: 459px;
}

#form-page form .third {
  display: flex;
  width: 81%;
  justify-content: space-between;
  margin-bottom: 120px;
}

#form-page form .third div {
  width: 45%;
}

#form-page form span {
  display: block;
  margin-bottom: 22px;
  text-transform: uppercase;
}

#form-page form .inline {
  display: inline-block;
  text-transform: none;
  margin: 0;
}

footer {
  background-color: #1b2537;
}

footer .wrapper {
  padding: 50px 208px 12px 208px;
  display: flex;
  flex-wrap: wrap;
  color: #c4c4c4;
}
footer .wrapper .row-contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
footer .contact-phone{
  padding-top: 0;
}
footer .logo {
  width: 98px;
}

footer .contact-info {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer .contact-info .row-link{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
footer .contact-info a {
  color: #c4c4c4;
}

footer .contact-info .social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

footer .contact-info .social-networks a:hover {
  opacity: 0.8;
}

footer span.end {
  display: block;
  text-align: center;
  color: #909090;
  width: 100%;
}
footer .contact-phone{
  display: none;
}

.scrollup{
  width: 50px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  text-indent: -9999px;
  background: url(../img/iconfinder4.svg) no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 1470px) {
  .wrapper {
    width: 1400px;
  }
}

@media screen and (max-width: 1470px) {
  section .wrapper {
    width: 100%;
  }

  #second-page .content-page {
    margin-left: 8%;
  }
  #home-page header nav{
    width: 40%;
  }
  #home-page header .contact-phone {
    width: 30%;
  }
}

@media screen and (max-width: 1200px) {

  #third-page .wrapper .container-page .block {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    padding-right: 75px !important;
    padding-left: 75px !important;
  }

  #fourth-page .plus-container {
    width: 40%;
    margin-left: 50%;
  }
}

@media screen and (max-width: 1100px) {
  #home-page header .contact-phone{
    display: none;
  }
  #home-page header nav{
    width: 60%;
  }
  footer .contact-phone{
    display: flex;
    width: 30%;
  }
  #second-page form input {
    width: 328px;
    margin-bottom: 12px;
  }

  #second-page .img-astronaut {
    width: 55%;
  }

  #second-page .content-page {
    margin-left: 3%;
  }
}

@media screen and (max-width: 1040px) {
  #home-page .info-block {
    flex-direction: column;
  }

  #home-page .info-block article {
    width: 70%;
    margin-bottom: 24px;
  }

  #home-page .info-block article:last-child {
    margin-left: 35%;
  }

  #home-page .info-block h2 {
    margin-bottom: 15px;
  }

  #home-page .info-block article p {
    width: 100% !important;
  }

  #fourth-page .plus-container {
    width: 45%;
  }

  #form-page .wrapper {
    flex-direction: column;
    background-size: 17%;
  }

  #form-page .wrapper h2 {
    text-align: center;
    width: 70%;
    margin: 20px auto;
  }

  #form-page .wrapper form {
    margin: 20px auto;
  }
  footer .contact-info .row-link {
    width: 60%;
  }
}

@media screen and (max-width: 980px) {
  .slider-container {
    display: block;
  }

  #home-page .img-geometry.geometry-first {
    right: 0;
    left: auto;
    top: 42%;
  }

  #third-page .wrapper .container-page {
    display: none;
  }

  #third-page .wrapper .container-page .block {
    overflow: hidden;
    width: 200px;
  }

  footer .contact-info .social-networks,footer .contact-phone {
    width: 35%;
  }
}

@media screen and (max-width: 860px) {
  #home-page .name-page {
    padding-left: 15%;
  }
  #fourth-page .plus-container {
    width: 53%;
  }

  .wrapper {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
  footer .contact-info .social-networks span{
    display: none;
  }
  footer .contact-info .row-link {
    flex-direction: column;
  }
  footer .contact-info .row-link *{
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 780px) {
  #home-page header nav{
    width: 65%;
  }
  #home-page .name-page {
    padding-left: 10%;
  }

  #home-page .send-request {
    width: 50%;
    margin-left: 40%;
  }

  #home-page .name-page * {
    font-size: 72px;
  }

  #second-page form label {
    margin-right: 0;
  }
  #fourth-page .wrapper {
    background-size: 45%;
  }
  #form-page form .third{
    margin-bottom: 70px;
  }
  footer .contact-info .social-networks, footer .contact-phone {
    width: 45%;
  }
  footer .contact-info .social-networks > span{
    display: none;
  }
}

@media screen and (max-width: 690px) {
  #home-page header .logo {
    width: 130px;
  }
  #home-page header nav{
    display: none;
  }

  #home-page header .mobile-navigation {
    display: block;
    position: relative;
  }
  #home-page header .mobile-navigation .burger-icon img{
    width: 50px;
  }
  #home-page header .mobile-navigation:hover > .burger-icon, nav.mobile {
    opacity: 0.7;
  }
  #home-page header .mobile-navigation:hover > nav.mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5px;
    top:50px;
    text-align: right;
    z-index: 10000;
    align-items: flex-end;
    width: 115px;
    padding-right: 5px;
    border-right: 2px solid #ffffff;
  }
  nav.mobile a{
    margin-bottom: 10px;
    text-decoration: underline;
  }
  #home-page .name-page {
    padding-left: 12px;
  }


  #home-page .send-request {
    margin-left: 25%;
    width: 70%;
  }

  #home-page .info-block article:last-child {
    margin-left: 25%;
  }

  #home-page .info-block {
    margin: 0 auto;
    width: 90%;
  }

  #home-page .info-block article {
    width: 100%;
  }

  #home-page .info-block article:last-child {
    margin-left: 0;
  }

  #second-page .img-astronaut {
    display: none;
  }

  #second-page .content-page {
    margin: 0 auto;
    width: 60%;
  }

  #form-page .wrapper form {
    width: 100%;

  }

  #form-page .wrapper form div {
    width: 90%;
  }

  #form-page form input.width100 {
    width: 100%;
  }

  #form-page form button {
    width: 90%;
  }
  #form-page .wrapper {
    background-size: 20%;
  }

  footer .contact-info .social-networks, footer .contact-phone {
    width: 55%;
  }
}

@media screen and (max-width: 550px) {
  body{
    font-size: 14px;
  }
  button, button:hover, button:active,button.black-btn:active, #second-page form input {
    width: 100%;
  }

  h2 {
    font-size: 36px;
  }
  .wrapper {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }

  #home-page .name-page {
    padding-left: 5%;
  }
  #second-page .content-page {
    width: 80%;
  }
  #form-page .wrapper h2 {
    width: 100%;
  }
  #form-page .wrapper {
    background-size: 25%;
  }
  footer .contact-info .social-networks {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  #home-page .name-page * {
    font-size: 60px;
  }
  #home-page .img-geometry.geometry-second {
    left: -20%;
  }
  #form-page form .third {
    flex-direction: column;
  }
  #form-page form span{
    margin-bottom: 6px;
  }
  #fourth-page .plus-container{
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 150px 0 46px 0;
  }
  #fourth-page .plus-container h2{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }
  #fourth-page .plus-container p{
    padding-top: 140px;
  }
  #fourth-page .wrapper {
    background: url(../img/Plus-1-Dog@3x.png) center 100px no-repeat;
    background-size: 200px;
  }
  .slick-prev, .slick-next,.slick-prev:hover, .slick-next:hover{
    width: 30px;
  }
  .slick-prev{
    left: -60px;
  }
  .slick-next{
    right: -50px;
  }
  #second-page .content-page {
    width: 90%;
  }
  #second-page .content-page ul{
    width: 100%;
  }
  .wrapper {
    padding-right: 12px !important;
  }
  #home-page .info-block article:first-child h2{
    width: 80%;
  }
  #home-page .img-geometry.geometry-second {
    left: -30%;
  }
  footer .wrapper .row-contact,footer .contact-info{
    flex-wrap: wrap;
  }
  footer .contact-phone {
    width: 80%;
  }
  footer span.end{
    text-align: left;
  }
  footer .wrapper .row-contact, footer .wrapper .row-contact img,footer .contact-info .row-link, footer .contact-info {
    margin-bottom: 12px;
  }
}